# Build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo

# Env
.env
.env.local
*.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db
